body {
    background-image: url("pig.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace

}

header {
    font-size: 40px;
    text-shadow: 2px 2px rgb(49, 47, 47);
    color: rgb(205, 196, 196);
    
}

section {
    text-align: justify;
    background: rgb(95, 92, 92);
    color: whitesmoke;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    padding: 15px;
}

h1, h6 {
    padding: 0;
    margin: 0;
}

footer {
    font-style:italic;
}

#h3 {
    text-align: center;
    color: rgb(216, 216, 83);
    font-style: bold;
    font-size: 20px;
}


